:root {
  --akcent-color: #28a745;
  --light-text-color: #ffffff;
  --dark-text-color: #333333;
  --hero-color: #e9e9e9;
  --background-color: #f4f4f4;
  --blog-color: #0284d0;
  --blog-button-focus-hover: #1851ca;
  --callback-color: #808080;
  --button-focus-hover: #128625;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
  border: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1390px;
  padding-left: 15px;
  padding-right: 15px;

  outline: 1px solid yellowgreen;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
}
/* ================= HEADER ================ */
.header {
  background-color: var(--dark-text-color);
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-container {
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.21;
  color: var(--light-text-color);
  margin-left: 100px;
}
.logo-span {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.21;
  color: var(--akcent-color);
}
.header-menu {
  display: flex;
  margin-left: auto;
  gap: 38px;
}
.header-menu-list {
}
.header-menu-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--light-text-color);
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--akcent-color);
}
/* ================= HERO ================ */
.hero {
  background-color: var(--dark-text-color);
  padding: 210px 436px 284px 431px;
}
.hero-title {
  font-style: normal;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: var(--hero-color);
  text-transform: capitalize;
  margin-bottom: 25px;
}
.hero-text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.67;
  text-align: center;
  color: var(--hero-color);

  margin-bottom: 30px;
}
.hero-link {
  display: block;
  width: 165px;
  margin: 0 auto;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--light-text-color);
  background-color: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 35px;
  border-radius: 5px;
}
.hero-link:focus,
.hero-link:hover {
  color: var(--dark-text-color);
  background-color: var(--button-focus-hover);
}
/* ================= BENEFITS ================ */
.benefits {
  padding-top: 55px;
  padding-bottom: 20px;
}
.benefits-container {
}
.visually-hidden {
}
.benefits-list {
  display: flex;
  padding-left: 66px;
  padding-right: 66px;
  gap: 71px;
}
.benefits-item {
  /* width: 362px; */
  width: calc((100% - 71px * 2) / 3);
}
.benefits-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--dark-text-color);
  margin-bottom: 16px;
}
.benefits-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--dark-text-color);
}
/* ================= SOLUTIONS ================ */
.solutions {
  background-color: var(--akcent-color);
}
.solutions-container {
  display: flex;
  gap: 30px;
}
.solutions-content {
  padding-top: 84px;
}
.solutions-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  color: var(--light-text-color);
  margin-bottom: 5px;
}
.solutions-title {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--light-text-color);
  margin-bottom: 26px;
}
.solutions-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--light-text-color);
  margin-bottom: 16px;
  max-width: 606px;
}
.solutions-link {
  display: inline-block;
  padding: 12px 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--light-text-color);
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.solutions-link:hover,
.solutions-link:focus {
  background-color: var(--button-focus-hover);
  color: var(--dark-text-color);
}

/* ================= CASES ================ */
.cases {
  padding-top: 50px;
}
.cases-container {
}

.cases-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--dark-text-color);
  margin-bottom: 16px;
}
.cases-title {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: var(--dark-text-color);
  margin-bottom: 34px;
}
.cases-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--dark-text-color);
  margin-bottom: 40px;
}
.cases-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 48px;
}
.cases-item {
}
/* ================= BLOG ================ */
.blog {
  background-color: var(--blog-color);
}
.blog-container {
  display: flex;
}
.blog-content {
  padding-top: 112px;
  padding-left: 30px;
}
.blog-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  color: var(--light-text-color);
  margin-bottom: 5px;
}
.blog-title {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--light-text-color);
  margin-bottom: 26px;
}
.blog-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--light-text-color);
  max-width: 606px;
  margin-bottom: 16px;
}
.blog-link {
  display: inline-block;
  padding: 12px 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--light-text-color);
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blog-link:hover,
.blog-link:focus {
  background-color: var(--blog-button-focus-hover);
  color: var(--dark-text-color);
}

/* ================= TEAM ================ */
.team {
  padding-top: 50px;
  padding-bottom: 60px;
}
.team-container {
}

.team-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--dark-text-color);
  margin-bottom: 16px;
}
.team-title {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: var(--dark-text-color);
  margin-bottom: 34px;
}
.team-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--dark-text-color);
  margin-bottom: 45px;
}
.team-list {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.team-item {
}
.team-item-title {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.27;
  text-align: center;
  color: var(--dark-text-color);
  margin-top: 13px;
  margin-bottom: 12px;
}
.team-item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--dark-text-color);
}
/* ================= CALLBACK ================ */
.callback {
}
.callback-container {
}
.callback-title {
}
/* ================= FOOTER ================ */
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--dark-text-color);
}
.footer-container {
}
.footer-soc {
}
.footer-copy {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--light-text-color);
}
